<div class="toolbar" role="navigation">
  <button class="navigation-toggle"></button>
  {{#if site.homeUrl}}
  <a href="{{relativize page.url site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
  {{/if}}
{{> breadcrumbs}}
{{> page-versions}}
  {{#if (and page.editUrl (not page.origin.private))}}
  {{/if}}
  <div class="edit-this-page"><button class="vshn-page-edit">Edit this Page</button></div>
</div>
